<%- include("partials/header.ejs") %>

<div class="container artigo">
  <div class="row">
    <div class="col-md-6">
      <!-- Imagem do artigo -->
      <img src="/img/8.jpg<%= //artigoEscolhido.img %>" width="500" class="img-fluid" alt="<%= //artigoEscolhido.titulo %>">
    </div>

    <div class="col-md-6 info">
      <!-- Detalhes do artigo -->
      <h1><%= //artigoEscolhido.titulo %>Pintura Agapórnis</h2>
      <p class="preco">€ 200,00<%= //artigoEscolhido.preco %></p>
      <p class="descricao">Pintura em acrilico duas aves Agapórnis<%= //artigoEscolhido.descricao %></p>

      <!-- Outras informações sobre o artigo -->
      <h5>Informações adicionais</h5>
      <ul>
        <li><strong>Artista:</strong> <%= //artigos.user_id %></li>
        <li><strong>Quantidade:</strong> <%= //artigos.quantidade %></li>
      </ul>

      <!-- Botão para adicionar ao carrinho -->
      <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>

    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>