<%- include("partials/header.ejs") %>

<div class="artigo">
  <div class="row">
    <div class="col-md-6">
      <!-- Imagem do artista -->
      <img src="/uploads/<%= perfil.img_user %>" class="img-artista" alt="<%= perfil.user_nome %>">
    </div>

    <div class="col-md-6 info-artista">
      <!-- Detalhes do artista -->
      <h1><%= perfil.user_nome %></h1><br>

      <h5>Qualificações:</h5>
      
      <p class="descricao"><%= perfil.qualificacao %></p><br>

      <!-- Outras informações sobre o artista -->
      <h5>Informações adicionais</h5>
      <ul>
        <li><strong>Email:</strong> <%= perfil.email %></li>
      </ul>

      <!-- Botão para apagar utilizador FAZER!!!, somente para administrador-->
        <% if(utilizador.administrador === true) {%>
          <a href="/apagarPerfil/<%= artigos.art_id %>">
            <button class="btn-primary my-3">Apagar utilizador</button>
          </a>
      <% } %>
      <br><br>  
    </div>
    <div class="row">
        <% for (i = 0; i < totalArtigo; i ++){ %>
            <% if(artigos[i].user_id == perfil.user_id) {%>
                <div class="col-md-4">
                    <div class="card">
                        <% if(artigos[i].vendido){ %>
                        <p>Vendido</p>
                        <% break; %>
                        <% } %>
                        <a href="/arte/<%= artigos[i].art_id %>">
                            <img src="/uploads/<%= artigos[i].img %>" class="card-img-top" alt="<%= artigos[i].nome %>">
                        </a>
                        <div class="card-body">
                        <h5 class="card-title"><%= artigos[i].nome %></h5>
                        <p class="preco"><%= artigos[i].preco %></p>
                        <p class="card-text descricao"><%= artigos[i].descricao %></p>
                    </div>
                    </div>
                </div>
            <!--Dispôr os artigos do utilizador-->
        <% } }%>
    </div>
</div>

<%- include("partials/footer.ejs") %>