<%- include("partials/header.ejs") %>

<div class="artigo">
  <div class="row">
    <div class="col-md-6">
      <!-- Imagem do artigo -->
      <img src="/img/8.jpg<%= artigos.img %>" class="img-fluid" alt="<%= artigos.nome %>">
    </div>

    <div class="col-md-6 info">
      <!-- Detalhes do artigo -->
      <h1>Pintura Agapórnis<%= artigos.nome %></h1>
      
      <p class="descricao">Pintura feita em aguarela<%= artigos.descricao %></p>

      <p class="preco">€ 200,00<%= artigos.preco %> </p>

      <!-- Outras informações sobre o artigo -->
      <h5>Informações adicionais</h5>
      <ul>
        <li><strong>Artista:</strong> <%= artigos.user_id %></li>
        <li><strong>Quantidade:</strong> <%= artigos.quantidade %></li>
      </ul>

      <!-- Botão para adicionar ao carrinho -->
      <% //for (i = 0; i < totalUsers; i ++) { %>
        <% //if(users[i].user_id != artigos.user_id) {%>
          <a href="/compra" >
            <button class="btn-primary my-3">Adicionar ao Carrinho</button> 
          </a>
          <% //}else { %>
          <a href="/registoArtigo">
           <button class="btn-primary my-3">Editar artigo</button> 
          </a>
        <% //}} %>
    </div>
  </div>

<%- include("partials/footer.ejs") %>