<%- include("partials/header.ejs") %>

<div class="container my-5">
  <h1 class="mb-4">Lista de Artistas</h1>
  
  <div class="row">
    <% artistas.forEach(artista => { %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="<%= artista.img_user %>" class="card-img-top" alt="<%= artista.nome %>">
          <div class="card-body">
            <h5 class="card-title"><%= artista.nome %></h5>
            <p class="card-text"><%= artista.qualificacao %></p>
            <!--<a href="/artista/<%= //artista.id %>" class="btn btn-primary">Ver Perfil</a>--> 
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<%- include("partials/footer.ejs") %>
