<%- include("partials/header.ejs") %>

<div class="container-check">
  <h1 class="title-check">Categorias</h1>
  <hr class="linha">
  <% for (i = 0; i < total; i++){ %>
    <h2><%= categoria[i].cat_nome %></h2>
    <div class="row">
      <% artigos.forEach((artigo) => { %>
        <% if(categoria[i].cat_id === artigo.cat_id) {%>
        <div class="col-md-3">
          <div class="card mb-4">
            <a href="/arte/<%= artigo.art_id %>">
              <img src="/uploads/<%= artigo.img %>" class="card-img-top" alt="<%= artigo.nome_art %>">
            </a>
            <div class="card-body">
              <h5 class="card-title"><%= artigo.nome_art %></h5>
              <p class="preco"><strong>Preço:</strong> <%= artigo.preco %> €</p>
              <p class="descricao"><%= artigo.descricao %></p>
              <a href="/arte/<%= artigo.art_id %>" class="btn-primary">Ver Artigo</a>
            </div>
          </div>
        </div>
      <% }}) %>
    </div>
    <% //} else { %>
        <!--<p>Não há artigos disponíveis nesta categoria no momento.</p>-->
    <% //} %>
  <% } %>
</div>

<%- include("partials/footer.ejs") %>