<%- include("partials/header.ejs") %>

<% let total = []; %>
<% pedidos = pedidos || []; %>
<% if(pedidos.length > 0) {%>
<div class="container-check">
  <h1 class="title-check">Meu Carrinho</h1>
  <hr class="linha">
  <% pedidos.forEach(item => { %>
  <table class="table">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço Unitário</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td> 
            <div class="img-car">
              <a href="/artigo/<%= item.art_id %>"><!--/artigo/:id-->
                <img src="/uploads/<%= item.img %>" width="100" alt="<%= item.nome %>">
              </a>
              <p class="nome-arte"><%= item.nome_art %></p>
            </div>
          </td>
          <td>
            <div class="quantidade">
              <%= item.quantidade %>1
            </div>
          </td>
          <td>
            <div class="precoUn">
              €  <%= item.preco %>
            </div>
          </td>
          <td>
            <div class="sub">
              € <%= (item.quantidade * item.preco) %>
            </div>
          </td>
          <td>
            <!--<div class="remover">
              <a href="/removerCarrinho">
                <img src="/img/remover.png" width="25" alt="lixo">
              </a>
            </div>-->
            <% total.push((item.quantidade * item.preco)) %>
            <form action="/atualizarCarrinho/<%= item.art_id %>" method="post">
              <input type="number" name="quantidade" value="<%= item.quantidade %>" min="0" max="<%= item.quantidadeTotal %>" style="width: 60px;">
              <button type="submit" class="btn btn-secondary atualizar">Atualizar</button>
            </form>
            <div class="remover">
              <form action="/removerCarrinho/<%= item.art_id %>" method="post">
                <button type="submit" class="" aria-label="Remover <%= item.nome %> do carrinho">
                  <img src="/img/remover.png" width="25" alt="Remover">
                </button>
              </form>  
            </div>  
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  
  <!--<div class=" finalizar">
    <h4>Total:  € <%= //total.toFixed(2) %></h4>
    <a href="/checkout">
    <button class="btn-primary">Finalizar Compra</button>
    </a>
  </div>-->
  <div class="text-end finalizar">
    <% let soma = 0 %>
    <% for(let i = 0; i < total.length; i++) { %>
      <% total[i] %>
      <% soma = soma + total[i]; %>
    <% } %>
    <h4 class="total">Total: <%= soma.toFixed(2) %>€</h4>
    <a href="/checkout" class="btn-primary">Finalizar Compra</a>
  </div>
</div>
<% } else {%>
  <p>O carrinho está vazio.</p>
<% } %>

<%- include("partials/footer.ejs") %>
