<%- include("partials/header.ejs") %>

<% let total = []; %>
<% pedidos = pedidos || []; %>
<% if(pedidos.length > 0) {%>
<div class="container my-5 compra">
  <h1 class="mb-4 ">Meu Carrinho</h1>
  <% pedidos.forEach(item => { %>
    <table class="table">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Preço Unitário</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="">
        <tr>
          <td> 
            <a href="/arte/<%= item.art_id %>">
              <img src="/img/<%= item.img %>" width="100" alt="<%= item.nome %>">
            </a>
            <p class="nome-arte">Pintura Agapórnis</p>
            <%= item.nome %>
          </td>
          <td><%= item.quantidade %></td>
          <td> <%= item.preco %> €</td>
          <td><%= (item.quantidade * item.preco) %> €</td>
          <td>
          <% total.push((item.quantidade * item.preco)) %>
          <form action="/atualizarCarrinho/<%= item.art_id %>" method="post">
            <input type="number" name="quantidade" value="<%= item.quantidade %>" min="0" max="<%= item.quantidadeTotal %>" style="width: 60px;">
            <button type="submit" class="btn btn-secondary">Atualizar</button>
          </form>
          <form action="/removerCarrinho/<%= item.art_id %>" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger" aria-label="Remover <%= item.nome %> do carrinho">
              <img src="/img/lixo.png" width="25" alt="Remover" class="remover">
            </button>
          </form>          
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  
  <div class="text-end finalizar">
    <% let soma = 0; %>
    <% for(let i = 0; i < total.length; i++) { %>
      <% total[i] %>
      <% soma = soma + total[i]; %>
    <% } %>
    <h4 class="total">Total: <%= soma.toFixed(2) %>€</h4>
    <a href="/checkout" class="btn btn-primary">Finalizar Compra</a>
  </div>
</div>
<% } else {%>
  <p>O carrinho está vazio.</p>
<% } %>

<%- include("partials/footer.ejs") %>
