<%- include("partials/header.ejs") %>

<div class="container my-5">
  <h1 class="text-center mb-4">Atualizar Artigo</h1>

  <form action="/editarArtigo/<%= artigos.art_id %>" method="post">

    <div class="mb-3">
      <label for="nome_art" class="form-label">Nome do Artigo</label>
      <input type="text" class="form-control" id="nome_art" name="nome_art" value="<%= artigos.nome %>" required>
    </div>

    <div class="mb-3">
      <label for="img" class="form-label">Imagem do Artigo</label>
      <input type="file" class="form-control" id="img" name="img" accept="img/*" required>
    </div>

    <div class="mb-3">
      <label for="preco" class="form-label">Preço (€)</label>
      <input type="number" step="0.01" class="form-control" id="preco" name="preco" value="<%= artigos.preco %>" min="0" required>
    </div>

    <div class="mb-3">
      <label for="quantidade" class="form-label">Quantidade</label>
      <input type="number" class="form-control" id="quantidade" name="quantidade" value="<%= artigos.quantidade %>" min="0" required>
    </div>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <textarea class="form-control" id="descricao" name="descricao" rows="4" required><%= artigos.descricao %></textarea>
    </div>

    <div class="mb-3">
      <label for="categoria" class="form-label">Categoria</label>
      <select class="form-select" id="categoria" name="cat_id" value="<% artigos.cat_id %>" required>
        <% for (i = 0; i < total; i++){ %> 
          <option value="<%= categoria[i].cat_id %>" <% if(categoria[i].cat_id === artigos.cat_id) { %> selected <% } %>>
            <%= categoria[i].cat_nome %>
          </option>
        <% } %>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Registrar Artigo</button>
  </form>
</div>

<%- include("partials/footer.ejs") %>