<%- include("partials/header.ejs") %>

<div class="container-registo">

  <div class="lado-esquerdo"></div>

    <div class="ficheiro2">
        <div class=""><!--multer-->
          <img class="nova-img" src="/uploads/<%= artigos.img %>" ><input type="hidden" name="nome_foto" value="<%= artigos.nome %>">
        </div>
    </div>

    <div class="lado-direito">
      <div class="registo2">
      <h1 class="title">Atualizar Artigo</h1>
      <hr class="linha">

      <form action="/editarArtigo/<%= artigos.art_id %>" method="post" enctype="multipart/form-data">

        <div class="mb-3 form-group">
          <label for="nome_art" class="form-label">Nome do Artigo</label>
          <input type="text" class="form-control" id="nome_art" name="nome_art" value="<%= artigos.nome %>" required>
        </div>

        <div class="mb-3 form-group">
          <label for="img" class="form-label">Imagem do Artigo</label>
          <input type="file" class="form-control" id="img" name="img" accept="img/*" required>
        </div>

        <div class="mb-3 form-group">
          <label for="preco" class="form-label">Preço (0.00€)</label>
          <input type="number" step="0.01" class="form-control" id="preco" name="preco" value="<%= artigos.preco %>" min="0" required>
        </div>

        <div class="mb-3 form-group">
          <label for="quantidade" class="form-label">Quantidade</label>
          <input type="number" class="form-control" id="quantidade" name="quantidade" value="<%= artigos.quantidade %>" min="0" required>
        </div>

        <div class="mb-3 form-group">
          <label for="descricao" class="form-label">Descrição</label>
          <textarea class="form-control" id="descricao" name="descricao" rows="4" required><%= artigos.descricao %></textarea>
        </div>

        <div class="mb-3 form-group">
          <label for="categoria" class="form-label">Categoria</label>
          <select class="form-select form-control" id="categoria" name="cat_id" value="<% artigos.cat_id %>" required>
            <% for (i = 0; i < total; i++){ %> 
              <option value="<%= categoria[i].cat_id %>" <% if(categoria[i].cat_id === artigos.cat_id) { %> selected <% } %>>
                <%= categoria[i].cat_nome %>
              </option>
            <% } %>
          </select>
        </div>
        <div class="button-check">
          <button type="submit" class="btn-primary">Atualizar Artigo</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>