<%- include("partials/header.ejs") %>

<div class="container gallery my-5">
  <h5> <%= categoria[0].cat_nome %> </h5>

      <!-- Carrossel Customizado -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- Primeiro slide -->
                <div class="carousel-item active">
                  <div class="row">
                    <% for (i = 0; i < totalArtigo; i ++){ %>
                      <% if (artigo[i].cat_id == 1){ %>
                        <% if (artigo[i].vendido == true){ %>
                            <% break; %>
                          <% } %>
                          <div class="col-md-4">
                            <div class="card">
                                <a href="/arte/<%= artigo[i].art_id %>">
                                <img src="/img/9.jpg" class="card-img-top" alt="Materiais de Arte"><!--Change the name of the file-->
                              </a>
                              <div class="card-body">
                                <h5 class="card-title"><%= artigo[i].nome %></h5>
                                <p class="preco"><%= artigo[i].preco %></p>
                                <p class="card-text descricao"><%= artigo[i].descricao %></p>
                                <a href="/carrinho" class="btn btn-primary">Adicionar ao Carrinho</a><!--CARRINHO-->
                              </div>
                            </div>
                          </div>
                      <% } else { %>
                        <% break; %>
                      <% } %>
                    <% } %>
                  </div>
                </div>
            
          <!-- Segundo slide -->
          <div class="carousel-item active">
            <div class="row">
              <% for (i = 0; i < totalArtigo; i ++){ %>
                <% if (artigo[i].cat_id == 1){ %>
                  <%  if (artigo[i].vendido == true){ %>
                      <% break; %>
                    <% } %>
              <div class="col-md-4">
                <div class="card">
                    <img src="/img/9.jpg" class="card-img-top" alt="Materiais de Arte"><!--Change the name of the file-->
                  </a>
                  <div class="card-body">
                    <h5 class="card-title"><%= artigo[i].nome %></h5>
                    <p class="preco"><%= artigo[i].preco %></p>
                    <p class="card-text descricao"><%= artigo[i].descricao %></p>
                    <a href="/carrinho" class="btn btn-primary">Adicionar ao Carrinho</a><!--CARRINHO-->
                  </div>
                </div>
              </div>
              <% } } %>
            </div>
          </div>
        <!-- Controles de Navegação -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<!--2nd Carroussel-->

<div class="container gallery my-5">
  <h5> <%= categoria[1].cat_nome %> </h5>

      <!-- Carrossel Customizado -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- Primeiro slide -->
                <div class="carousel-item active">
                  <div class="row">
                    <% for (i = 0; i < totalArtigo; i ++){ %>
                      <% if (artigo[i].cat_id == 2){ %>
                        <%  if (artigo[i].vendido == true){ %>
                            <% break; %>
                          <% } %>
                    <div class="col-md-4">
                      <div class="card">
                          <img src="/img/<%= artigo[i].img %>" class="card-img-top" alt="Materiais de Arte"><!--Change the name of the file-->
                        </a>
                        <div class="card-body">
                          <h5 class="card-title"><%= artigo[i].nome %></h5>
                          <p class="preco"><%= artigo[i].preco %></p>
                          <p class="card-text descricao"><%= artigo[i].descricao %></p>
                          <a href="/carrinho" class="btn btn-primary">Adicionar ao Carrinho</a><!--CARRINHO-->
                        </div>
                      </div>
                    </div>
                    <% } else { %>
                      <% break; %>
                    <% } %> 
                  <% } %>
                  </div>
                </div>
          <!-- Segundo slide -->
          <div class="carousel-item active">
            <div class="row">
              <% for (i = 0; i < totalArtigo; i ++){ %>
                <% if (artigo[i].cat_id == 2){ %>
                  <%  if (artigo[i].vendido == true){ %>
                      <% break; %>
                    <% } %>
              <div class="col-md-4">
                <div class="card">
                    <img src="/img/9.jpg" class="card-img-top" alt="Materiais de Arte"><!--Change the name of the file-->
                  </a>
                  <div class="card-body">
                    <h5 class="card-title"><%= artigo[i].nome %></h5>
                    <p class="preco"><%= artigo[i].preco %></p>
                    <p class="card-text descricao"><%= artigo[i].descricao %></p>
                    <a href="/carrinho" class="btn btn-primary">Adicionar ao Carrinho</a><!--CARRINHO-->
                  </div>
                </div>
              </div>
              <% } } %>
            </div>
          </div>
        </div>

        <!-- Controles de Navegação -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<%- include("partials/footer.ejs") %>
