<%- include("partials/header.ejs") %>

<div class="container-registo">

  <div class="lado-esquerdo"></div>

    <div class="ficheiro2">
      <!-- Exibir a foto de perfil -->
      <div class="profile-image">
        <img src="/img/f.jpg<%= //user.img_user %>" alt="Foto de Perfil" class="foto">
      </div>

    </div>

    <div class="lado-direito">

      <div class="registo2">

        <h1 class="title">Perfil do utilizador</h1>
        <hr class="linha">

        <form action="/perfil" method="POST" enctype="multipart/form-data">
          <!-- Nome do Usuário -->
          <div class="mb-3 form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="<%= //user.nome %>" required>
          </div>

          <!-- Email do Usuário -->
          <div class="mb-3 form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= //user.email %>" required>
          </div>

          <!-- Senha -->
          <div class="mb-3 form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha">
            <small class="form-text text-muted">Deixe em branco para manter a senha atual.</small>
          </div>

          <!-- Atualizar Foto de Perfil -->
          <div class="mb-3 form-group">
            <label for="foto">Atualizar Foto</label>
            <input type="file" class="form-control-file" id="foto" name="foto">
          </div>

          <!-- Botão de Atualizar Perfil -->
          <button type="submit" class="btn btn-primary mt-3">Atualizar Perfil</button>
        </form>
      </div>
    </div>
</div>

<!--Criar button de logout-->

<%- include("partials/footer.ejs") %>